<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
    <h2>Содержание новости</h2>
    <div class="new-block">
        <p>Название: {{ new.name }}</p>
        <p>Контент: {{ new.content }}</p>
        <p>Дата создание: {{ new.date_make }}</p>
        <p>Дата изменения: {{ new.date_corrected }}</p>
        <p>Статус: {{ new.flag }}</p>
        <h2>Комментарии</h2>
        {% for i in comments %}
            <div class="comment-block">
                <p>Автор: {{ i.author }}</p>
                <p>Текст комментария: {{ i.content }}</p>
            </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {% for field in comment_form %}
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn-detail">Добавить комментарий</button>
        </form>
    </div>
</body>
</html>