<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'advertisements_app/style.css' %}">
</head>
<body>
    <div class="advertisements">
        {% for adv in advs %}
            <div class="advertisements-elem">
                <a class="advertisements-elem-link" href="/advertisements/{{ adv.id }}">
                    <p>Название: {{ adv.title }}</p>
<!--                    не исправили подписи к полям-->
                    <p>Цена: {{ adv.price }}</p>
                    <p>Категория: {{ adv.chapter }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>