<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail {{ adv.id }}</title>
</head>
<body>
    <div class="content">
        <p>title: {{ adv.title }}</p>
        <p>price: {{ adv.price }} ₽ or {{ new }} $</p>
        <p>description: {{ adv.description }}</p>
        <p>chapter: {{ adv.chapter }}</p>
        <p>author: {{ adv.author }}</p>
        <p>views_count: {{ adv.views_count }}</p>
        <p>created_at: {{ adv.created_at }}</p>
        <p>updated_at: {{ adv.updated_at }}</p>
    </div>
</body>
</html>