{% extends "app_main/pattern.html" %}
{% block header %}
        {% if perm %}
        <a href="/create-news">Создать свою новость</a>
            {% else %}
            <p>Новости могут создавать только верифицированный пользователи</p>
        {% endif %}
        {% if moder %}
        <a href="/moderator-list-news/">Проверка новостей</a>
        {% endif %}
{% endblock %}

{% block content %}
    {% if news %}
    <div>
    {% for new in news %}
            <p>{{ new.title }}</p>
            <p>{{ new.description }}</p>
            <p>{{ new.author }}</p>
            <form action="/moderator-list-news/" method="post">
                {% csrf_token %}
                <select size="1" name="news_select/{{ new.id }}">
                    <option value="d">Удалить</option>
                    <option value="p">Опубликовать</option>
                </select>
                <button type="submit">Сделать</button>
            </form>
    {% endfor %}
    </div>
        {% else %}
        <p>Нет новостей на проверку</p>
    {% endif %}

{% endblock %}