<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>advertisements_list</title>
</head>
<body>
<h1>Прошел все курсы на Skillbox. Продаю готовые решения!!!</h1>
<ul>
    {% for key, value in gdz.items %}
    <li><a href="/{{ key }}">{{ value }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% for elem in another %}
    <li><a href="/{{ elem }}">{{ elem }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% for elem in films %}
    <li>{{ elem }}</li>
    {% endfor %}
</ul>
<ul>
    {% for elem in songs %}
    <li>{{ elem }}</li>
    {% endfor %}
</ul>
</body>
</html>