<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>advertisements_list</title>
</head>
<body>
<h1>Прошел все курсы на Skillbox. Продаю готовые решения!!!</h1>
<ul>
    <li>
        <a href='/python-basic'>Python Basic</a>
    </li>
    <li>
        <a href='/django'>Python-фреймворк Django</a>
    </li>
    <li>
        <a href='/frontend-developer'>frontend Разработчик</a>
    </li>
    <li>
        <a href='/layout-basic'>Веб-верстка «Базовый уровень»</a>
    </li>
    <li>
        <a href='/java'>java - Разработчик</a>
    </li>
</ul>
</body>
</html>